// common
.dep1-electronic-genealogy--fc:not(.page-url---fc) #subWrap {
  background-color: rgba($color: #fff, $alpha: 0.43);
}

.dep1-electronic-genealogy--fc {
  .sub-cont-section {
    @include fz(18);
    font-weight: $font-weight-light;
    line-height: 1.97;
  }

  .subCommon--fc {
    margin-bottom: 1.875rem;
  }

  .top-txt-explain {
    margin-bottom: 3.75rem;
  }

  .inc-member {
    margin-bottom: 2rem;
  }

  .box-detail {
    background-color: #f6ede5;
    border-radius: 1.25rem;
    padding: 2.5rem 1.25rem;

    > dt {
      margin-bottom: 0.3rem;
      color: #764724;
      font-weight: $font-weight-bold;
      @include item-dot(#764724, 10px);
    }

    > dd {
      padding-left: calc(10px + 0.5rem);
    }
  }

  .box-detail + .box-detail {
    margin-top: 2rem;
  }
}

// 인트로
.dep1-electronic-genealogy--fc.page-url---fc {

  #leftMenu,
  .path-wrap,
  .subCommonWrap--fc {
    display: none;
  }

  .subWrap__inner {
    padding-top: 6.25rem;
  }
}

#sub.dep1-electronic-genealogy--fc.page-url---fc #contents {
  background-color: #f5e6d3;
  background-image: url(/html/_skin/img/sub/bg_genealogy_wrapper.jpg);
  background-position: center bottom;
  background-size: 100% auto;
}

.genealogy-intro--fc {
  .genealogy-intro__head {
    text-align: center;
    @include fz(18);
  }

  .genealogy-intro__head .tit {
    margin-bottom: 1rem;
    @include fz(55);
    font-weight: $font-weight-bold;
    font-family: $font-title;
    color: #0d0d0d;
  }

  .genealogy-intro__body {
    background: #fcfaf3 url(/html/_skin/img/sub/genealogy/bg_genealogy_intro_box.jpg) no-repeat center/contain;
    border-radius: 1.25rem;
    padding: 3.75rem;
    margin-top: 2.5rem;
  }
}

.genealogy__nav--fc {
  line-height: 1.5;

  a {
    display: block;
  }

  .genealogy__nav__depth2 {
    @include clearfix;
    font-size: 0;
    width: 100%;
    max-width: 1140px;
    margin: 0 auto;

    > div {
      float: left;
      width: 50%;
    }

    .depth-inner {
      position: relative;
      width: 100%;
      max-width: 405px;
      margin: 0 auto;
    }

    .depth-inner > a {
      margin-bottom: 1.5rem;
      padding: 0.3em 2em 0.3em 2.25em;
      @include fz(24);
      font-weight: $font-weight-bold;
      color: #000;
      font-family: $font-title;
      background-color: #fff;
      border: 2px solid #b8a160;
      border-radius: 0.5rem;
      background-repeat: no-repeat;
      background-position: left 0.8em center, right 0.8em center;
      background-size: 0.95em, 0.5em;
      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 72 72' width='72' height='72'%3E%3Ctitle%3Eico_search%3C/title%3E%3Cpath d='M49.09,10.91a27,27,0,0,1,0,38.18c-7.54,7.55-24.64,13.55-38.18,0A27,27,0,0,1,49.09,10.91ZM69,69,49.88,49.75' fill='none' stroke='rgb(0,0,0)' stroke-linecap='round' stroke-linejoin='round' stroke-width='6'/%3E%3C/svg%3E");
    }

    .depth-inner > a.in {
      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 72 72' width='72' height='72'%3E%3Ctitle%3Eico_search%3C/title%3E%3Cpath d='M49.09,10.91a27,27,0,0,1,0,38.18c-7.54,7.55-24.64,13.55-38.18,0A27,27,0,0,1,49.09,10.91ZM69,69,49.88,49.75' fill='none' stroke='rgb(0, 0, 0)' stroke-linecap='round' stroke-linejoin='round' stroke-width='6'/%3E%3C/svg%3E"), url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='15px' height='13px'%3E%3Cpath fill-rule='evenodd' fill='rgb(0, 0, 0)' d='M7.416,12.376 L0.276,0.001 L14.557,0.001 L7.416,12.376 Z'/%3E%3C/svg%3E");
    }
  }

  .genealogy__nav__depth3 {
    z-index: 10;
    display: none;
    /* position: absolute;
    left: 0; */
    width: 100%;
    padding: 2rem;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
    border-radius: 1.25rem;
    background-color: #f2e1ca;

    > li {
      @include fz(20);
      @include item-dot(#2f2f2f, 7px);
    }
  }
}

@include lg-min {
  .genealogy__nav--fc .genealogy__nav__depth2 .depth-inner > a:hover {
    color: $color-base;
  }

  .genealogy__nav--fc .genealogy__nav__depth2 .depth-inner > a.in:hover {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 72 72' width='72' height='72'%3E%3Ctitle%3Eico_search%3C/title%3E%3Cpath d='M49.09,10.91a27,27,0,0,1,0,38.18c-7.54,7.55-24.64,13.55-38.18,0A27,27,0,0,1,49.09,10.91ZM69,69,49.88,49.75' fill='none' stroke='rgb(38, 34, 95)' stroke-linecap='round' stroke-linejoin='round' stroke-width='6'/%3E%3C/svg%3E"), url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='15px' height='13px'%3E%3Cpath fill-rule='evenodd' fill='rgb(38, 34, 95)' d='M7.416,12.376 L0.276,0.001 L14.557,0.001 L7.416,12.376 Z'/%3E%3C/svg%3E");
  }
}

// 기본정보
.genealogy-btn-wrap {
  margin-bottom: 1rem;

  .btn-list {
    @include d-flex;
    @include justify-content-end;
    margin-left: -5px;
    margin-right: -5px;

    a {
      display: block;
      padding: 0.2em 1.125em 0.1em;
      @include fz(18);
      font-weight: $font-weight-bold;
      font-family: $font-title;
      color: #fff;
      background-color: #666;
      border: 1px solid #666;
      border-radius: 2em;
      @include transition(background-color 0.2s);
    }

    a.request {
      background-color: $color-base;
      border-color: $color-base;
    }

    a.list {
      background-color: #000;
      border-color: #000;
    }

    > li {
      padding-left: 5px;
      padding-right: 5px;
      margin-bottom: 10px;
    }
  }
}

.genealogy-form-foot-btns {
  width: 100%;
  max-width: 456px;
  margin: 0 auto;
  margin-top: 6.25rem;

  .btn-list {
    @include d-flex;
    @include justify-content-center;
    margin-left: -5px;
    margin-right: -5px;

    a,
    button {
      display: block;
      width: 100%;
      padding: 0.5em 1.125em 0.5em;
      @include fz(18);
      font-weight: $font-weight-light;
      color: #151515;
      background-color: #e0d7ce;
      border: 1px solid #e0d7ce;
      border-radius: 2em;
      @include transition(background-color 0.2s);
    }

    a.request,
    button.request {
      background-color: $color-base;
      border-color: $color-base;
      color: #fff;
    }

    a.list,
    button.list {
      background-color: #000;
      border-color: #000;
      color: #fff;
    }

    > li {
      flex: 1;
      padding-left: 5px;
      padding-right: 5px;
      margin-bottom: 10px;
    }
  }
}

@include lg-min {

  .genealogy-btn-wrap .btn-list a,
  .genealogy-form-foot-btns .btn-list a,
  .genealogy-form-foot-btns .btn-list button {
    &:hover {
      background-color: #fff;
      border-color: #acacac;
      color: #000;
    }
  }
}

@include xl-min {
  .genealogy-form-foot-btns .btn-list {
    margin-left: -10px;
    margin-right: -10px;

    > li {
      padding-left: 10px;
      padding-right: 10px;
    }
  }
}

.genealogy-form-table-wrap + .genealogy-form-table-wrap {
  margin-top: 3.75rem;
}

.genealogy-form-table-wrap {
  .filebox {
    display: flex;
    align-items: center;
    border: 1px solid #dedede;
    background-color: #fff;
    padding: 5px;

    .filebox__btn {
      padding: 0 0.75rem;
      @include fz();
      height: 2em;
      border-radius: 5px;
      line-height: inherit;
      background-color: $color-base;
      color: #fff;
    }

    .filebox__btn.delete {
      background-color: #666;
      color: #fff;
    }

    .filebox__btn + .filebox__btn {
      margin-left: 5px;
    }

    label {
      display: block;
      text-align: center;
      padding: 0 15px;
      border-radius: 5px;
      background-color: #000;
      @include fz();
      font-weight: 400;
      height: 2em;
      line-height: 2em;
      width: 100px;
      color: #fff;
      cursor: pointer;
      flex-shrink: 0;
    }

    .upload-name {
      display: block;
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
      border: 0;
      width: calc(100% - 100px);
      max-width: none;
      color: rgba(21, 21, 21, 0.5);
      text-align: left;
      background-color: transparent !important;
      padding: 0 10px;
      @include fz();
      font-weight: $font-weight-light;
    }

    input[type="file"] {
      position: absolute;
      width: 1px;
      height: 1px;
      padding: 0;
      margin: -1px;
      overflow: hidden;
      clip: rect(0, 0, 0, 0);
      border: 0;
    }
  }
}

.genealogy-form-table--fc {
  position: relative;
  color: #333;
  text-align: center;

  &:before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: #333;
  }

  .tb-info-txt {
    display: inline-block;
    vertical-align: middle;
    margin-left: 5px;
  }

  input,
  select {
    min-width: auto;
    width: 100%;
    font-weight: $font-weight-light;
    margin-top: 4px;
    margin-top: 4px;
    @include fz();
  }

  select {
    padding-right: calc(0.6em + 10px + 8px);
  }

  th,
  td {
    border: 1px solid #e2e1e0;
    border-width: 1px 0;
    padding-top: 8px;
    padding-bottom: 8px;
    line-height: 1.22;
    vertical-align: middle;
    height: 58px;
  }

  th {
    background-color: #f5e4d4;
    font-weight: $font-weight-mid;
    @include fz(18);
    padding-left: 8px;
    padding-right: 8px;

    .check {
      position: relative;
      display: inline-block;
      vertical-align: middle;
      height: 20px;
      margin: 0 auto;
      margin-top: -0.4em;
      line-height: 0;

      label {
        padding-left: 20px;
      }

      label:before {
        top: 0;
      }
    }

    p.check {
      display: block;
      margin-top: 0;
    }
  }

  td {
    background-color: #fbf9f7;
    @include fz();
    // padding-left: 1.25em;
    // padding-right: 1.25em;
    padding-left: 0.5em;
    padding-right: 0.5em;
  }

  .t_l {
    padding-left: 1.25em;
  }

  td + td {
    border-left-width: 1px;
  }

  .bg {
    background-color: #ebc39e;
  }
}

.genealogy-form-table-wrap.write {
  .genealogy-form-table--fc {
    .t_l {
      padding-left: 0.5em;
    }

    td {
      // text-align: left;
    }

    .tb-check--fc {
      .check {
        margin-left: 0;
      }
    }

    .tb-birth--fc {
      font-weight: $font-weight-mid;

      .birth-wrap {
        @include d-flex;

        > span {
          @include d-flex;
          @include align-items-center;
          flex-wrap: nowrap;
        }

        > span {
          margin-right: 1em;
        }

        > span:last-of-type {
          margin-right: 0;
        }
      }

      select {
        max-width: 80px;
      }

      .year select {
        max-width: 82px;
      }
    }

    .tb-children--fc {
      input {
        max-width: 64px;
      }

      span {
        margin-right: 8px;
      }

      span:last-of-type {
        margin-right: 0;
      }
    }

    .tb-addr--fc {
      input {
        width: 67%;
        margin-right: 5px;
      }

      .check-btn--fc {
        width: 30%;
        max-width: 180px;
        height: 2.9375rem;
        line-height: 2.9375rem;
        background-color: #000;
        color: #fff;

        > span {
          display: inline-block;
          vertical-align: middle;
          line-height: 1.25;
          padding-bottom: 0.2em;
        }
      }
    }
  }
}

@include md-max {
  .genealogy-form-table--fc.table_responsive {
    text-align: left;

    .tb-check--fc {
      width: 100%;
    }

    .no-data--fc {
      display: none !important;
    }

    &,
    tbody,
    thead {
      display: block;
      font-size: 0;
    }

    tr {
      @include d-flex;
    }

    th,
    td {
      display: inline-block;
      vertical-align: top;
      height: auto;
      padding: 8px 1em;
      border-width: 1px 0 0;
      @include d-flex;
      @include align-items-center;
      word-break: break-all;
    }

    th {
      width: 25%;
    }

    td {
      width: 75%;
    }

    td.tb-textarea--fc {
      width: 100%;
    }

    colgroup {
      display: none;
    }
  }

  .genealogy-form-table-wrap.write {
    .tb-addr--fc {

      input,
      .check-btn--fc {
        width: 100%;
        max-width: 100%;
        margin: 3px 0;
      }
    }
  }

  .genealogy-form-table--fc th .check label {
    padding-left: 15px;
  }
}

.genealogy-form-flex--fc {
  border-top: 1px solid #000;

  input {
    min-width: auto;
  }

  input,
  select {
    width: 100%;
    @include fz();
    font-weight: $font-weight-light;
    margin-top: 4px;
    margin-bottom: 4px;
  }

  input {
    padding: 0 0.8em;
  }

  select {
    padding-left: 0.3em;
    padding-right: calc(0.6em + 10px + 8px);
  }

  .form__row,
  .form__item {
    @include d-flex;
  }

  .form__row {}

  .form__item {
    flex: 1;
    flex-wrap: nowrap;
    border-bottom: 1px solid rgba($color: #cacaca, $alpha: 0.5);
  }

  .form__row.auto .form__item {
    flex: auto;
  }

  .tit,
  .cont {
    @include d-flex;
    @include align-items-center;
    height: 100%;
  }

  .tit {
    flex-shrink: 0;
    min-width: 4em;
    font-weight: $font-weight-mid;
    background-color: #f5e4d4;
    text-align: center;
    padding: 0.5em 1em;
    @include fz(18);

    > span {
      width: 100%;
    }
  }

  .cont {
    width: 100%;
    padding: 4px 12px;
    @include fz();
  }

  .form-info-txt {
    display: inline-block;
    vertical-align: middle;
    margin-left: 5px;
  }

  .form-name--fc {
    input {
      max-width: 111px;
      width: calc(50% - 8px);
    }

    input + input {
      margin-left: 8px;
    }
  }

  .form-marriage--fc {
    flex: 0 0 190px;
    max-width: 190px;

    select {
      max-width: 63px;
    }
  }

  .form-gender--fc select {
    max-width: 126px;
  }

  .form-birth--fc {
    flex: 0 0 48.7%;
    max-width: 48.7%;
    font-weight: $font-weight-mid;

    .cont {
      @include d-flex;

      > span {
        @include d-flex;
        @include align-items-center;
        flex-wrap: nowrap;
      }

      > span {
        margin-right: 1em;
      }

      > span:last-of-type {
        margin-right: 0;
      }
    }

    select {
      max-width: 64px;
    }

    .year select {
      max-width: 82px;
    }
  }

  .form__item.full .tit {
    width: 20%;
  }
}

@include lg-max {
  .genealogy-form-flex--fc .form__item {
    flex: 0 0 100%;
    max-width: 100%;

    .tit {
      width: 20%;
    }
  }
}

.genealogy-overviews__list {
  @include d-flex;
  margin-top: 5.625rem;
  margin-left: -5px;
  margin-right: -5px;

  > li {
    padding: 5px;
    @include flex-col(50%);
  }

  a {
    display: block;
    border-radius: 0.5rem;
    background-color: #fff;
    border: solid 2px #b8a160;
    @include overflow-hidden();
    @include fz(18);
    padding: 0 0.5rem;
    height: 3.22em;
    line-height: calc(3.22em - 4px);
    font-family: $font-title;
    font-weight: $font-weight-bold;
    text-align: center;
    @include transition(background-color 0.2s);

    > span {
      position: relative;
      display: inline-block;
      vertical-align: middle;
      padding-left: 2em;
      padding-top: 0.2em;
      padding-bottom: 0.2em;
      line-height: 1.2;

      &:before {
        content: "";
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        width: 1.61em;
        height: 1.61em;
        background: no-repeat center/contain;
      }
    }
  }

  .person > span:before {
    background-image: url(/html/_skin/img/sub/genealogy/ico_person.png)
  }

  .people > span:before {
    background-image: url(/html/_skin/img/sub/genealogy/ico_people.png)
  }

  .book > span:before {
    background-image: url(/html/_skin/img/sub/genealogy/ico_book.png)
  }

  .photo > span:before {
    background-image: url(/html/_skin/img/sub/genealogy/ico_photo.png)
  }
}

@include md-min {
  .genealogy-overviews__list {
    margin-left: -10px;
    margin-right: -10px;

    > li {
      padding: 10px;
      @include flex-col(33.333%);
    }
  }
}

@include lg-min {
  .genealogy-overviews__list a:hover {
    background-color: #f5f5f5;
    border-color: $color-base;
  }
}

@include xl-min {
  .genealogy-overviews__list {
    margin-left: -12px;
    margin-right: -12px;

    > li {
      padding: 12px;
      @include flex-col(25%);
    }
  }
}

@include ssm-max {
  .genealogy-overviews__list > li {
    @include flex-col(100%);
  }
}

// genealogyModal
.genealogyModal {
  .body-head {
    text-align: center;
  }

  .genealogy-form-table--fc + .genealogy-form-table--fc,
  .table-wrap + .genealogy-form-table--fc,
  .genealogy-form-table--fc + .table-wrap {
    margin-top: 1rem;
  }

  .modal__photo {
    width: 100%;
    max-width: 766px;
    margin: 0 auto;
  }

  .modal__photo-list {
    @include d-flex();
    text-align: center;
    margin-left: -5px;
    margin-right: -5px;

    .thumb__img {
      @include fit-thumb(67.77%, 100%, auto);
    }

    .figcaption {
      @include fz(18);
      font-weight: $font-weight-light;
      padding: 1em 5px;
    }

    > li {
      @include flex-col(50%);
      padding-left: 5px;
      padding-right: 5px;
      margin-bottom: 10px;
    }
  }

  .modal__form-foot-btns {
    margin-top: 1rem;

    .btn-list {
      @include d-flex;
      @include justify-content-start;
      margin-left: -2px;
      margin-right: -2px;

      a,
      button {
        display: block;
        width: 100%;
        padding: 0.5em 1.125em 0.5em;
        @include fz();
        font-weight: $font-weight-light;
        color: #151515;
        background-color: #fff;
        border: 1px solid #acacac;
        border-radius: 2em;
        @include transition(background-color 0.2s);
      }

      a.request,
      button.request {
        background-color: #e0d7ce;
        border-color: #e0d7ce;
        color: #151515;
      }

      a.list,
      button.list {
        background-color: #000;
        border-color: #000;
        color: #fff;
      }

      > li {
        padding-left: 2px;
        padding-right: 2px;
        margin-bottom: 4px;
      }
    }
  }
}

@include bp-min($inner-max-width) {
  .genealogyModal .modal__photo-list {
    margin-left: -22px;
    margin-right: -22px;

    > li {
      padding-left: 22px;
      padding-right: 22px;
    }
  }
}

.genealogy-modal__cont .box {
  & + .box {
    margin-top: 3.75rem;
  }
}

.overlay-photo,
.photo-view--fc {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
}

.overlay-photo {
  z-index: 10000;
}

.photo-view--fc {
  z-index: 10005;
  @include d-flex;
  @include align-items-center;
  @include justify-content-center;

  .photo-close {
    position: fixed;
    top: 0;
    right: 0;
    padding: 1rem;

    &__btn {
      content: "";
      display: block;
      width: 2.5rem;
      height: 2.5rem;
      background: no-repeat center/90%;
      font-size: 0;
      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='40px' height='40px'%3E%3Cdefs%3E%3Cfilter id='Filter_0'%3E%3CfeFlood flood-color='rgb(136, 136, 136)' flood-opacity='1' result='floodOut' /%3E%3CfeComposite operator='atop' in='floodOut' in2='SourceGraphic' result='compOut' /%3E%3CfeBlend mode='normal' in='compOut' in2='SourceGraphic' /%3E%3C/filter%3E%3C/defs%3E%3Cg filter='url(%23Filter_0)'%3E%3Cpath fill-rule='evenodd' fill='rgb(255, 255, 255)' d='M39.566,38.712 L38.929,39.348 L20.139,20.570 L1.348,39.348 L0.711,38.712 L19.502,19.934 L0.711,1.156 L1.348,0.519 L20.139,19.297 L38.929,0.519 L39.566,1.156 L20.776,19.934 L39.566,38.712 Z'/%3E%3C/g%3E%3C/svg%3E");
    }
  }

  .photo-view__inner--fc {
    padding: 2rem;

    img {
      display: block;
      margin: 0 auto;
      max-height: 90vh;
    }
  }
}

// 편찬사 
.section-compilation {
  @include fz(18);
  font-weight: $font-weight-light;
  line-height: 1.94;

  .box-detail:last-of-type {
    margin-bottom: 2.5rem;
  }

  .table-basic p + ul {}
}

// 서문
.section-perface {
  .perface-dfn {
    @include fz(18);
    font-weight: $font-weight-light;
    line-height: 1.94;

    p:not(.tit) + p {
      margin-top: 2em;
    }

    .tit {
      margin-bottom: 1em;
      @include fz(24);
      font-weight: $font-weight-mid;
      line-height: 1.5;
      color: #764724;
      @include item-dot(#764724, 10px);
    }
  }
}

// 항렬자 정규
.section-paraphrase {
  .table-basic {
    text-align: center;

    .tr_thead th {
      width: 10%;
    }

    td {
      padding-left: 5px;
      padding-right: 5px;
      text-align: center;
    }
  }
}