@charset "utf-8";

/* ---------------------------------- sub page */
/*
	sub layout
*/
#subWrap {
  position: relative;
  overflow: hidden;
  min-height: 310px;
  margin: 0 auto;
}

@include xl-max {
  #subWrap {
    width: 100%;
  }
}

sub,
sup {
  font-size: 75% !important;
}

.ce_item {
  opacity: 0;
}

.mt40_20 {
  margin-top: 40px;
}

.mt0 {
  margin-top: 0 !important;
}

.t_c {
  text-align: center !important;
}

.t_l {
  text-align: left !important;
}

.t_r {
  text-align: right !important;
}

.pt0 {
  padding-top: 0 !important;
}

.pb0 {
  padding-bottom: 0 !important;
}

.bg_f2f2f2 {
  background-color: #f2f2f2;
}

.w100 {
  width: 100% !important;
}

.sub-visual {
  display: table;
  width: 100%;
  height: $sub-pc-visual-height;
  text-align: center;

  &.sub01 {
    background: url("/html/_skin/img/sub/bg_sub_visual_01.jpg") no-repeat (center / cover);
  }

  &.sub02 {
    background: url("/html/_skin/img/sub/bg_sub_visual_02.jpg") no-repeat (center / cover);
  }

  &.sub03 {
    background: url("/html/_skin/img/sub/bg_sub_visual_03.jpg") no-repeat (center / cover);
  }

  &.sub04 {
    background: url("/html/_skin/img/sub/bg_sub_visual_04.jpg") no-repeat (center / cover);
  }

  &.sub05 {
    background: url("/html/_skin/img/sub/bg_sub_visual_05.jpg") no-repeat (center / cover);
  }

  > div {
    display: table-cell;
    width: 100%;
    height: 100%;
    vertical-align: middle;
  }

  h2 {
    @include fz(55);
    line-height: 1;
    color: #fff;
    font-family: $font-title;
    font-weight: $font-weight-bold;
  }
}

@include lg-max {
  .sub-visual {
    height: $sub-tablet-visual-height;

    > div {
      padding-top: 0;
      padding-bottom: 0;
    }
  }
}

#sub.dep1-electronic-genealogy--fc {
  .sub-visual {
    height: auto;
    padding-top: 6.25rem;

    > div {
      vertical-align: bottom;
      padding-bottom: 2.5rem;
    }

    h2 {
      color: #0d0d0d;
    }
  }
}

@include md-max {
  .mt40_20 {
    margin-top: 20px;
  }

  .sub-visual {
    height: $sub-mobile-visual-height;

    h2 {
      font-size: 20px;
    }
  }

  #sub.dep1-electronic-genealogy--fc .sub-visual {
    height: $sub-mobile-visual-height;
    padding-top: 0;

    > div {
      vertical-align: middle;
      padding-bottom: 0;
    }
  }
}

/* location */
.location-wrap {
  position: relative;
  width: 100%;
  font-family: 'Noto Sans KR', 'Montserrat';

  ul.location-ul {
    margin: -20px auto 0;
    font-size: 0;
    line-height: 0;
    background-color: $color-base;
    -webkit-box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);

    > li {
      position: relative;
      display: inline-block;
      margin-right: -1px;
      vertical-align: top;

      &:before {
        position: absolute;
        top: 50%;
        right: 15px;
        content: "";
        width: 13px;
        height: 7px;
        background: url(/html/_skin/img/sub/icon_location_down_arrow.png) no-repeat center;
        margin-top: -3.5px;
        pointer-events: none;
      }

      &.location-home {
        a {
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          padding: 0;
          min-width: 65px;
          height: 60px;
          text-align: center;
          border-left: 0;
          background-color: #fff;
          -webkit-box-align: center;
          -ms-flex-align: center;
          align-items: center;
          -webkit-box-pack: center;
          -ms-flex-pack: center;
          justify-content: center;
        }

        img {}

        &:before {
          display: none;
        }
      }
    }
  }

  li a {
    display: block;
    padding: 0 40px 0 20px;
    min-width: 170px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-width: 0 1px;
    font-size: 16px;
    line-height: 60px;
    word-break: keep-all;
    font-weight: 300;
    color: #fff;
  }

  ul.location-ul > li {

    &:last-child > a,
    &.on > a {
      background: $color-base;
    }
  }

  .location-depth2 {
    display: none;
    position: absolute;
    top: 60px;
    left: 0;
    z-index: 999;
    width: 100%;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-width: 1px 1px 0;
    background-color: #fff;

    a {
      padding: 15px 20px;
      border-bottom: 1px solid rgba(0, 0, 0, 0.1);
      background: transparent;
      line-height: 17px;
      color: #333;
    }

    li.on a {
      color: $color-base !important;
    }
  }
}

/* 2depth */
@include xl-max {
  .location-wrap ul.location-ul {
    margin: 0 -20px 0;
  }
}

@include xl-min {
  .location-wrap {

    li:not(.location-home) a:hover,
    ul.location-ul > li:last-child > a:hover {
      background: $color-base-hover;
    }

    .location-depth2 li:not(.location-home) a:hover {
      background: #f1f1f1;
      color: #000;
    }
  }
}

@include md-max {
  .location-wrap {
    ul.location-ul > li {
      display: none;

      &.location-home {
        display: inline-block;
      }

      &:last-of-type {
        display: inline-block;
        width: calc(100% - 53px);

        > a {
          background: $color-base;
          text-align: center;
        }
      }
    }

    li a {
      line-height: 50px;
    }

    ul.location-ul > li.location-home {
      a {
        min-width: 55px;
        height: 50px;
      }

      img {
        width: 16px;
      }
    }

    .location-depth2 {
      top: 50px;
    }
  }
}

/*
	--- sub conts
*/
#subConts {
  width: 100%;
}

@include xl-max {
  #subConts {
    float: none;
    width: 100%;
  }

  [class^="sub-wrap-"] {}
}

.YouTubePopUp-Close:before {
  content: 'X';
  position: relative;
  top: -10px;
  font-weight: 300;
  font-size: 35px;
  font-family: 'NanumSquare';
  color: #fff;
}

/* question */
.qtable {
  max-width: 600px;
  margin: 0 auto;

  table {
    width: 100%;

    tr {

      th,
      td {
        padding: 10px;
        vertical-align: middle;
      }

      th {
        font-size: 0;
      }

      td {
        text-align: right;
      }
    }
  }
}

.q_name--fc {
  display: inline-block;
  font-size: 16px;
  color: #666;
  vertical-align: middle;
}

.q_num--fc {
  display: inline-block;
  width: 20px;
  height: 20px;
  vertical-align: middle;
  line-height: 20px;
  text-align: center;
  background-color: #999;
  color: #fff;
  font-size: 13px;
  margin-right: 10px;
}

.qtable {
  .board-write-btn-wrap--fc {
    margin: 20px 0 30px;
    padding-top: 35px;
    border-top: 1px solid #ddd;

    .btn-cancel--fc {
      background: #fff;
      color: #464646;
      border: 1px solid #d2d2d3;
    }

    .btn-confirm--fc {
      background: #ffa500;
      border: 1px solid #ffa500;
    }
  }

  .jq-star {
    width: 30px !important;
    height: 30px !important;
  }
}

@include md-max {
  .qtable table {
    display: block;

    tbody {
      display: block;
    }

    tr {
      display: block;

      th {
        display: block;
      }

      td {
        display: block;
        padding: 0 10px 20px 10px;
      }
    }
  }
}

/* 회원가입 */
#displaySearch,
#displaySearchCount {
  margin-right: 0 !important;
}

@include md-max {
  #zipcode {
    width: 60% !important;
    margin-bottom: 5px;
  }

  .member-wrap .form-table {
    display: block;
    width: 100%;

    tbody {
      display: block;
      width: 100%;
    }

    tr {
      display: block;
      width: 100%;

      th,
      td {
        display: block;
        width: 100%;
      }

      th {
        padding: 20px 10px 0 !important;
        background: #fff;
      }

      td {
        margin-bottom: 20px;
      }
    }
  }

  #displaySearch {
    margin-right: 5px !important;
  }

  .member-wrap .form-table tr td input + input {
    margin-top: 5px;
  }
}

/*  */
.sub_data_wrap {}

.sub_data__tit {
  position: relative;
  font-size: 22px;
  font-weight: 700;
  padding-left: 20px;
  color: #333;
  margin: 60px 0 30px;

  &:before {
    content: "";
    position: absolute;
    top: 5px;
    left: 0;
    width: 4px;
    height: 25px;
    background-color: $color-base;
  }

  span {
    font-weight: 400;
  }
}

.sub_data__txt {
  font-size: 18px;
  font-weight: 350;
  color: #333;
}

.dtable {
  overflow-x: auto;

  table {
    width: 100%;
    border-top: 2px solid $color-base;

    tbody tr {

      th,
      td {
        font-size: 18px;
        padding: 20px;
        text-align: center;
        border-bottom: 1px solid $td-bor-color;
        border-left: 1px solid $td-bor-color;
        vertical-align: middle;
      }

      th:last-child,
      td:last-child {
        border-right: 1px solid $td-bor-color;
      }

      th {
        color: $th-color;
        font-weight: 400;
        background-color: $th-bg;
      }

      td {
        color: $td-color;
        font-weight: 300;
        background-color: $td-bg;
      }
    }
  }
}

.bullet_ul {
  li {
    position: relative;
    padding-left: 0.7777777777em;
    font-size: inherit;
    line-height: 1.8;

    + li {
      margin-top: 0.2777777777em;
    }

    &:before {
      content: "";
      position: absolute;
      top: 0.6666666666666em;
      left: 0;
      width: 0.277777777777em;
      height: 0.277777777777em;
      background-color: #333;
      border-radius: 50%;
    }
  }

  &.color_fff {
    li {
      &:before {
        background-color: #fff;
      }
    }
  }
}

@include md-max {
  .sub_data__tit {
    font-size: 16px;
    margin: 30px 0 15px;
    padding-left: 10px;

    &:before {
      top: 6px;
      width: 3px;
      height: 14px;
    }
  }

  .sub_data__txt {
    font-size: 14px;
  }

  .dtable table tbody tr {

    th,
    td {
      font-size: 12px;
      padding: 10px;
    }
  }
}

/* shop */
.category_list--fc {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;

  > li {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    text-align: center;
    color: #666;

    a {
      position: relative;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      border: 1px solid #cacaca;
      border-right-width: 0;
      height: 100%;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      text-align: center;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      @include fz(20);
      font-weight: $font-weight-bold;
      font-family: $font-title;
      padding: 0.58em 0.2em;
      @include transition(background-color 0.2s);
    }

    &.on a {
      color: #fff !important;
      font-weight: 700;
      box-shadow: 9px 6.3px 38px 0 rgba(33, 33, 33, 0.29);
      background-color: $color-base;
    }

    &:last-child a {
      border-right-width: 1px;
    }
  }
}

@include xl-min {
  .category_list--fc > li a:hover {
    background-color: #f7f7f7;
    color: $color-base !important;
  }
}

@include md-max {
  .category_list--fc {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;

    > li {
      -webkit-box-flex: 1;
      -ms-flex: auto;
      flex: auto;
      padding: 1px;

      a {
        font-size: 12px;
        padding: 8px 5px;
        border: 1px solid #dadada;
      }

      &.on a {
        border-bottom-color: #dadada;
      }
    }
  }
}

.img_full_wrap {
  font-size: 0;
  text-align: center;
}

figure.img_full_wrap figcaption {
  //   font-size: 0;
  // color: transparent;
  // background: none;
  // text-indent: -9999px;
  //   line-height: 0;
  //   width: 0;
  //   height: 0;
  // border: 0;
  // overflow: hidden;
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;

  * {
    // font-size: 0;
    // color: transparent;
    // background: none;
    // text-indent: -9999px;
    // line-height: 0;
    // width: 0;
    // height: 0;
    // border: 0;
    // overflow: hidden;
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
  }
}

.subCommon--fc {
  padding-bottom: 1.5rem;
  margin-bottom: 3.75rem;
  border-bottom: 1px solid #cacaca;
  text-align: left;

  h2 {
    position: relative;
    font-weight: $font-weight-bold;
    font-family: $font-title;
    color: #333;
    @include fz(30);
    //padding-top: 20px;
    /*
  &:before {
    content: "";
    position: absolute;
    top: 0px;
    left: 50%;
    border-bottom: 20px solid $color-point;
    border-right: 9px solid $color-point;
    border-left: 9px solid transparent;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    margin-left: -6px;
  }

  &:after {
    content: "";
    position: absolute;
    top: 0;
    left: 50%;
    border-top: 20px solid $color-point;
    border-right: 9px solid transparent;
    border-left: 9px solid $color-point;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    margin-left: 5px;
  }*/
  }

  h2 + p {
    @include fz(18);
    font-weight: $font-weight-light;
    color: #666;
    margin-top: 0.3rem;
  }
}

.cateBox {
  margin-bottom: 3.75rem;
}

.sub-cont-section {
  padding: 100px 0;

  &.section-01 {
    padding-top: 0;
  }

  &:last-of-type {
    padding-bottom: 120px;
  }
}

.tab_conts_box > ul > li {
  display: block;

  &:not(:first-child) {
    display: none;
  }
}

.sub_cont_tit {
  @include fz(26);
  font-weight: $font-weight-bold;
  font-family: $font-title;
  margin-bottom: 3.75rem;
}

.article-tit {
  @include fz(20);
  font-weight: $font-weight-bold;
  font-family: $font-title;
  color: #333;
  margin-bottom: 0.8rem;
}

@include md-max {
  .subCommon--fc h2 {
    /*padding-top: 10px;

    &:before {
      border-bottom-width: 10px;
      border-right-width: 5px;
      border-left-width: 5px;
      margin-left: -4px;
    }

    &:after {
      border-top-width: 10px;
      border-right-width: 5px;
      border-left-width: 5px;
      margin-left: 4px;
    }*/
  }

  .cateBox {
    margin-bottom: 25px;
  }

  .sub-cont-section {
    padding: 50px 0;

    &.section-01 {
      padding-top: 0;
    }

    &:last-of-type {
      padding-bottom: 60px;
    }
  }

  .sub_cont_tit {}
}

/* history */
.history_wrap1--fc {
  overflow: hidden;
  margin-top: 50px;

  .col-md-6 {
    display: block;
    padding: 0;
    -webkit-box-flex: 1;
    -ms-flex: auto;
    flex: auto;
    max-width: none;
  }

  .offset-md-6 {
    margin-left: 0;
    width: 100%;
  }

  .col-md-6,
  .offset-md-6 {
    float: right;
    margin-bottom: 30px;
    padding-top: 20px;
    width: calc(100% - 155px);
    border-top: 1px solid #ddd;

    @include md-max {
      width: 100%;
      border-top: 0 none;
    }
  }

  dl {
    clear: both;

    dt,
    dd {
      float: left;
      margin-bottom: 20px;
      color: #666;
      font-family: 'Noto Sans KR', 'Noto Sans JP';
    }

    dt {
      width: 120px;
      font-weight: 700;
      font-size: 20px;
      line-height: 1.1;
    }

    dd {
      width: calc(100% - 120px);
      font-size: 15px;
      line-height: 1.6;
    }
  }
}

.history_tit1--fc {
  clear: both;
  float: left;
  padding-top: 10px;
  width: 140px;
  border-top: 1px solid #e21f25;
  font-weight: 900;
  font-size: 36px;
  line-height: 1.3;
  color: #e21f25;
  letter-spacing: -2px;

  @include md-max {
    width: 100%;
  }
}

/* history2 */
@mixin history_tit {
  @include fz(26);
  font-weight: $font-weight-bold;
  font-family: $font-title;
  color: $color-base;
  margin-bottom: 1.25rem;
}

@mixin history_cont {
  border-top: 1px solid $color-base;
  border-bottom: 1px solid #aeaeae;
  background-color: rgba($color: #fff, $alpha: 0.5);
  padding: 2.5rem 2.5rem;

  @include md-max {
    padding-left: 20px;
    padding-right: 20px;
  }
}

@mixin history_line_gutter {
  padding-top: 4.375rem;
}

.history_wrap--fc {}

.history_line--fc {
  & + .history_line--fc {}
}

.history_tit--fc {}

.history_cont--fc {
  > li {
    position: relative;
    padding-bottom: 2.5rem;
    padding-left: 1.875rem;

    &:before {
      content: "";
      display: block;
      width: 1px;
      background-color: #ccc;
      position: absolute;
      top: 0;
      bottom: 0;
      left: 10px;
    }
  }

  dl {
    font-size: 0;
    font-family: $font-title;
    color: #111;

    > dt,
    > dd {
      display: inline-block;
      vertical-align: top;
      @include fz(18);
      width: 100%;
    }

    > dt {
      font-weight: $font-weight-bold;
    }

    > dt:before {
      content: "";
      display: block;
      position: absolute;
      top: 0.5em;
      left: 5.5px;
      width: 10px;
      height: 10px;
      border-radius: 100%;
      background-color: $color-base;
    }
  }
}

@include md-min {
  .history_cont--fc dl {
    > dt {
      width: 19%;
      padding-right: 2%;
    }

    > dd {
      width: 81%;
    }
  }
}

.history_wrap--fc .history_line--fc {
  &:first-of-type .history_cont--fc:before {
    height: 4px;
  }

  &:last-of-type .history_cont--fc:before {
    height: 4px;
  }
}

.history-inc-list {
  > li + li {}

  .tit {
    @include history_tit();
  }

  .tit + .history-inc {
    .history_tit--fc {
      display: none;
    }

    @include history_cont();
  }

  .history-inc {}
}

.history-inc-list .history-inc:not(.tit ~ .history-inc) .history_line--fc {
  @include history_line_gutter();

  &:first-child {
    padding-top: 0;
  }
}

.history-inc-list .history-inc:not(.tit ~ .history-inc) .history_tit--fc {
  @include history_tit();
}

.history-inc-list .history-inc:not(.tit ~ .history-inc) .history_cont--fc {
  @include history_cont();
}

.tit + .history-inc .history_line--fc:first-child .history_cont--fc > li:first-child:before,
.history-inc-list .history-inc:not(.tit ~ .history-inc) .history_cont--fc > li:first-child:before {
  height: calc(100% - 8px);
  top: 8px;
}

.tit + .history-inc .history_line--fc:last-child .history_cont--fc > li:last-child:before,
.history-inc-list .history-inc:not(.tit ~ .history-inc) .history_cont--fc > li:last-child:before {
  height: 8px;
}

/* sitemap */
.sitemap__nav__depth1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin: 0 -0.625rem;

  > li {
    width: 25%;
    padding: 0 0.625rem;
    margin-bottom: 1.25rem;

    > a {
      display: block;
      padding: 1.1875rem 0;
      background: #333;
      font-weight: 400;
      font-size: 1.25rem;
      line-height: 1;
      color: #fff;
      border-left: 6px solid $color-base;
      padding-left: 14px;

      @include xl-min {
        &:hover {
          background: #525252;
        }
      }
    }

    @include lg-max {
      width: 50%;
    }

    @include md-max {
      width: 100%;
      padding: 0;
    }
  }

  @include md-max {
    margin: 0;
  }
}

.sitemap__nav__depth2 {
  padding: 1.25rem;
  font-size: 1.125rem;

  > li {
    & + li {
      margin-top: 0.625rem;
    }

    > a {
      position: relative;
      display: inline-block;
      padding-left: 0.625rem;

      &:before {
        content: "";
        position: absolute;
        top: 0.6875rem;
        left: 0;
        width: 0.1875rem;
        height: 0.1875rem;
        border-radius: 50%;
        background-color: $color-base;
        @include transition;
      }

      @include xl-min {
        &:hover:before {
          top: 0;
          height: 100%;
          border-radius: 0;
        }
      }
    }
  }
}

.sitemap__nav__depth3 {
  padding-left: 0.625rem;
  font-size: 1rem;

  > li {
    margin-top: 0.3125rem;

    > a {
      position: relative;
      display: inline-block;
      padding-left: 0.9375rem;
      color: #999;

      &:before {
        content: "-";
        position: absolute;
        top: -0.0625rem;
        left: 0;
      }

      @include xl-min {
        &:hover {
          color: #333;
        }
      }
    }
  }
}

// custom
.subWrap__inner {
  padding-top: 3.75rem;
}

@include bp-max(#{$inner-max-width - 0.1px}) {
  .subWrap__inner {
    padding-left: 0;
    padding-right: 0;
  }
}

/* left menu */
#leftMenu {
  z-index: 10;
  position: relative;
  display: none;
}

.leftMenu__tit {
  display: block;
  width: 100%;
  text-align: center;

  .tit-inner {
    display: table;
    width: 100%;
    padding-left: 1rem;
    padding-right: 1rem;
    height: 150px;
    background-repeat: no-repeat;
    background-position: center center;
    background-image: url(/html/_skin/img/sub/bg_left_menu_tit.png);
    background-color: $color-base;
  }
}

.leftMenu__tit h2 {
  display: table-cell;
  vertical-align: middle;
  text-transform: uppercase;
  color: #fefefe;
  font-family: $font-title;
  font-weight: $font-weight-mid;
  @include fz(24);
}

.leftMenu__list-fc {
  padding-bottom: 10rem;

  a {
    display: block;
    color: #666;
    @include transition(color 0.3s);
  }

  > li {
    width: 100%;
    border-bottom: 1px solid #d2d7e0;
  }

  > li a {
    position: relative;

    &:before {
      content: '';
      position: absolute;
      top: 1.625em;
      left: 0.823em;
      display: inline-block;
      vertical-align: top;
      width: 4px;
      height: 4px;
      border-radius: 100%;
      background-color: #666;
    }
  }

  > li > a {
    position: relative;
    padding: 1em 1em 1em 2.353em;
    @include fz();
    background-repeat: no-repeat;
    background-position: right 12px;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='27.5px' height='27.5px'%3E%3Cpath fill-rule='evenodd' stroke='rgb(102, 102, 102)' stroke-width='1px' stroke-linecap='butt' stroke-linejoin='miter' opacity='0.502' fill='none' d='M13.500,0.500 C20.680,0.500 26.500,6.320 26.500,13.500 C26.500,20.679 20.680,26.500 13.500,26.500 C6.320,26.500 0.500,20.679 0.500,13.500 C0.500,6.320 6.320,0.500 13.500,0.500 Z'/%3E%3Cpath fill-rule='evenodd' opacity='0.502' fill='rgb(102, 102, 102)' d='M16.507,13.625 L15.978,14.229 L15.869,14.104 L12.021,18.507 L11.492,17.902 L15.340,13.499 L11.492,9.096 L12.021,8.491 L15.869,12.894 L15.978,12.769 L16.507,13.374 L16.397,13.499 L16.507,13.625 Z'/%3E%3C/svg%3E");
    transition-property: color, background-image;
  }

  > li.on > a {
    font-weight: $font-weight-bold;
    color: $color-base;
  }

  > li:hover,
  > li.on {
    > a {
      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='27.5px' height='27.5px'%3E%3Cpath fill-rule='evenodd' stroke='rgb(38, 34, 95)' stroke-width='1px' stroke-linecap='butt' stroke-linejoin='miter' fill='none' d='M13.500,0.500 C20.680,0.500 26.500,6.320 26.500,13.500 C26.500,20.679 20.680,26.499 13.500,26.499 C6.320,26.499 0.500,20.679 0.500,13.500 C0.500,6.320 6.320,0.500 13.500,0.500 Z'/%3E%3Cpath fill-rule='evenodd' fill='rgb(38, 34, 95)' d='M16.507,13.624 L15.978,14.229 L15.869,14.104 L12.021,18.507 L11.492,17.902 L15.340,13.499 L11.492,9.096 L12.021,8.491 L15.869,12.894 L15.978,12.769 L16.507,13.374 L16.398,13.499 L16.507,13.624 Z'/%3E%3C/svg%3E");
    }

    > a:before {
      background-color: $color-base;
    }
  }

  > li:hover > a {
    color: $color-base;
  }

  > li:not(.on) .depth2 {
    display: none;
  }

  .depth2 {
    padding: 1em 1em 1em 2.353em;

    > li > a {
      padding: 0.2em 0 0.2em 1em;
    }

    > li > a:before {
      top: 0.85em;
      left: 0;
    }

    > li > a:hover {
      color: $color-base;
    }

    > li.on > a {
      color: #ff5656;
    }
  }
}

@include xl-min {
  .subWrap__inner {
    @include clearfix;
    // padding-left: 0;
    // padding-right: 0;
  }

  #leftMenu,
  #leftMenu ~ #subConts {
    float: left;
  }

  #leftMenu {
    display: block;
    width: 242px;
    padding-top: 1.25rem;
  }

  #leftMenu ~ #subConts {
    width: calc(100% - 242px);
    padding-left: 64px;
    padding-left: 4rem;
  }
}

;